.wrapper{
  width: 70%;
  margin: 40px;

}
.general{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inputSearch{
  border: 1px solid #828282;
  border-radius: 70px;
  box-shadow: none;
  width: 500px;
  padding-left: 10px;
}
.button{
  background: none;
  border: none;
} 
